@model Alf.ViewModels.CompetitionSignup

<h2>ALC - Another Lindy Hop Championship</h2>
<p>For the first time in ALF history, we will feature an awesome Lindy Hop and Boogie Woogie contest - open to all takers!</p>

<h4>Lindy Hop</h4>
<ul>
    <li>Jack'n'Jill</li>
    <li>Strictly with partner</li>
    <li>Show case with partner</li>
</ul>

<h4>Boogie Woogie</h4>
<ul>
    <li>Fast feet with random partner</li>
    <li>Strictly with partner</li>
    <li>Show case with partner</li>
</ul>

<h4>You may sign up for these competitions:</h4>
<ul>
    @foreach (var competition in @Model.Available)
    {
        <li><a href="@Model.Guid?Competition=@competition.Id">@competition.Name</a></li>
    }
</ul>

<h4>You have signed up for these competitions:</h4>
<ul>
    @foreach (var competition in @Model.SignedUp)
    {
        <li>@competition.Name</li>
    }
</ul>