@model alf_2013.Models.Teacher

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Teacher</legend>

    <div class="display-label">FirstName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">LastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">Image</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Image)
    </div>

    <div class="display-label">Bio</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bio)
    </div>

    <div class="display-label">Website</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Website)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TeacherID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
