@model Alf.Models.DanceClass

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>DanceClass</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Limit)
        @Html.DisplayFor(model => model.Limit)
    </div>
    <div>
        <ul>
            @foreach (Alf.Models.Participant participant in ViewBag.Participants) { 
                <li>@participant.Name (@participant.Status)</li>
        
            }
        </ul>
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
