<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <title>Another Lindy Hop Festival 2013</title>
        <link rel="stylesheet" href="style.css" />
        <link href='http://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <a href="@Url.Action("Index", "Start")">
            <img src="~/Content/Images/banner.png" id="banner" />
        </a>
        <div id="menustrip">
            @Html.ActionLink("Event information", "EventInfo", "Start")
            @Html.ActionLink("Teachers", "Teachers", "Start")
            @Html.ActionLink("Register", "Create", "Participant")
        </div>
        @if (User.Identity.IsAuthenticated)
        {
        <div id="adminstrip">
            <span style="color: white">ADMINISTRASJON:</span>
            @Html.ActionLink("Participants", "", "Participant")
            @Html.ActionLink("Dance classes", "", "DanceClass")
            @Html.ActionLink("Competitions", "", "Competition")
            @Html.ActionLink("Mail-lists", "MailLists", "Participant")
            @Html.ActionLink("Logg ut", "LogOff", "Account")
        </div>    
        }
        <div id="maincontent">
            @RenderBody()
        </div>

        @RenderSection("scripts", required: false)
    </body>
</html>
