@model Alf.Models.Participant

@{
    ViewBag.Title = "Create";
}
<p class="warning" style="display: none;"><b>Note:</b> Our payment system is currently not operational, but all registrations are valid nontheless. Registered participants will be given payment information when it is available. Should you have any further questions, please do not hesitate to contact us at another.lindy.fest@gmail.com</p>
<div style="overflow: auto">
    <div style="width: 50%; float: left">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

    
            <fieldset>
                <legend>Register for ALF</legend>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Name)
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Mail)
                    @Html.EditorFor(model => model.Mail)
                    @Html.ValidationMessageFor(model => model.Mail)
                </div>

                <div>
                    <span>Select your class:</span><br />
                    @foreach (Alf.Models.DanceClass danceclass in ViewBag.DanceClasses)
                    {
                        <input type="radio" id="danceclass" name="danceclass" value="@danceclass.Id" />
                        <span>@danceclass.Name</span><br />
                    }
                </div>

                <div>
                    @Html.RadioButtonFor(model => model.Role, Alf.Models.Role.Follow)
                    <span>Follow</span>
                    @Html.RadioButtonFor(model => model.Role, Alf.Models.Role.Follow)
                    <span>Lead</span><br />
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.NTNUI)
                    @Html.EditorFor(model => model.NTNUI)
                    @Html.ValidationMessageFor(model => model.NTNUI)
                </div>

                <div class="editor-label">
                    I can offer accomodation: @Html.EditorFor(model => model.OfferAccomodation)<br />
                    My Phonenumber is: @Html.TextBoxFor(model => model.Phonenumber)
                </div>
                <div class="editor-label">
                    I want to get an offer on accomodation: @Html.EditorFor(model => model.SeeksAccomodation)<br />
                </div>

                <div>
                    @ViewBag.Message
                </div>

                <p>
                    <input type="submit" value="Register!" />
                </p>
            </fieldset>
        }
    </div>

    <div style="width: 50%; float: left;">
        <fieldset>
            <legend>Levels</legend>
            <p><b>Lindy Hop: </b></p>
            <p>Beginner:</p>
            <p>You have been dancing for 2-3 month and know the basic steps and a few figures, you know the difference between Charleston and triplesteps and are eager to learn more. You are improving and having a lot of fun on the social dance floor, and really like the swing- and jazz music.</p>
            <p>Intermediate</p>
            <p>You have been dancing for one year or more, and are really passionate about the swing rhythms and you just looove the swingout! You know a lot of Charleston, triplestep and groovewalk turns, and you feel relaxed when leading and/or following. You are very interested in new challenges and learning new movements, techniques and rhythms of Lindy Hop</p>
            <p>Advanced:</p>
            <p>You have been dancing for more than 2-3 years and have already been to quite many workshops throughout Europe and Norway. You are training weekly and an enthusiast at the social dancefloor. You are maybe a local teacher and competitor in Jack n’Jill and Strictly Lindy Competitions. </p>
            <p><b>Boogie Woogie</b></p>
            <p>Improvers: </p>
            <p>You have been dancing for a few months, and know the basic steps (triple step basics) and some basic variations. You are eager to learn more, and have a lot of fun on the dance floor! </p>
            <p>Intermediate</p>
            <p>You have been dancing boogie for some time and know the 6- count basic steps and basic variations well. You are also familiar with 8- count basic variations(swingout etc...), and feel relaxed about leading and following. You are very interested in some challenges and in learning new movements, rhythms and techniques of Boogie Woogie. </p>
            <p>Competition: </p>
            <p>The name says it all! You are an experienced boogie dancer who loves a good challenge, and aim to improve your dancing and performance with advanced techniques, patterns, moves and rhythms of the Boogie Woogie. For this level a partner is required. Please send us an email if you have any questions.</p>

        </fieldset>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
