@model Alf.Models.Participant

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <p><b>Note:</b> Our payment system is not currently working, but all registrations are valid nontheless. Registered participants will be given payment information when it is available. Should you have any further questions, please do not hesitate to contact us at another.lindy.fest@gmail.com</p>
        <fieldset>
        <legend>Register for ALF</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mail)
            @Html.EditorFor(model => model.Mail)
            @Html.ValidationMessageFor(model => model.Mail)
        </div>

        <div>
            <span>Select your class:</span><br />
            @foreach(Alf.Models.DanceClass danceclass in ViewBag.DanceClasses) {
                <input type="radio" id="danceclass" name="danceclass" value="@danceclass.Id" />
                <span>@danceclass.Name</span><br />
            }
        </div>

        <div>
            @Html.RadioButtonFor(model => model.Role, Alf.Models.Role.Follow)
            <span>Follow</span> 
            @Html.RadioButtonFor(model => model.Role, Alf.Models.Role.Follow)
            <span>Lead</span><br />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NTNUI)
            @Html.EditorFor(model => model.NTNUI)
            @Html.ValidationMessageFor(model => model.NTNUI)
        </div>

        <div class="editor-label">
            I can offer accomodation: @Html.EditorFor(model => model.OfferAccomodation)<br />
            My Phonenumber is: @Html.TextBoxFor(model => model.Phonenumber)
        </div>
        <div class="editor-label">
            I want to get an offer on accomodation: @Html.EditorFor(model => model.SeeksAccomodation)<br />
        </div>

        <div>
            @ViewBag.Message
        </div>

        <p>
            <input type="submit" value="Register!" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
