@model Alf.Models.Participant

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Register for ALF</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mail)
            @Html.EditorFor(model => model.Mail)
            @Html.ValidationMessageFor(model => model.Mail)
        </div>

        <div>
            <span>Select your class:</span><br />
            @foreach(Alf.Models.DanceClass danceclass in ViewBag.DanceClasses) {
                <input type="radio" id="danceclass" name="danceclass" value="@danceclass.Id" />
                <span>@danceclass.Name</span><br />
            }
        </div>

        <div>
            @Html.RadioButtonFor(model => model.Role, Alf.Models.Role.Follow)
            <span>Follow</span> 
            @Html.RadioButtonFor(model => model.Role, Alf.Models.Role.Follow)
            <span>Lead</span><br />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NTNUI)
            @Html.EditorFor(model => model.NTNUI)
            @Html.ValidationMessageFor(model => model.NTNUI)
        </div>

        <div>
            @ViewBag.Message
        </div>

        <p>
            <input type="submit" value="Register!" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
