@model Alf.Models.Participant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Participant</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NTNUI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NTNUI)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Paid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Paid)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
